// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #71DE8A;

body {
  background: $green; // Using this variable
}



a {
  color: grey;
  &:hover {
    color: black;
  }
}
